# Copyright (c) 2026 Antonio Romeo <antonioromeo@ilve.it>
# Author: Antonio Romeo
# SPDX-License-Identifier: MIT (see the LICENSE file for the full terms)

.venv/
__pycache__/
*.egg-info/
.pytest_cache/
build/
dist/
TODO.md
.env* 
secrets.json.env*
secrets.json
